/*********************************************************/
/* Body */
/*********************************************************/
body {
    background-color: white;
    font-family: Helvetica;
    margin: 0;
    top: 0;
}

/*********************************************************/
/* Navigation Bar */
/*********************************************************/
.topnav {
    display: flex;
    justify-content: space-between;
    top: 0px;
    position: fixed;
    width: 100%;
    /* background-color: #3b6dd1; */
    background-color: #456990;
    z-index: 100;
}

#name {
    padding: 0px 20px;
}

#name h1 {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

#links ul {
    list-style-type: none;
    overflow: hidden;
}

#links li {
    float: right;
    border-right: 1px solid white;
}

#links li:first-child {
    border-right: none;
}

#links li a {
    text-align: center;
    display: inline-block;
    padding: 0px 20px;
    color: white;
    font-family: sans-serif;
    font-size: 1.5em;
    text-decoration: none;
}

#links a:hover {
    background-color: white;
    color: #456990;
}

/*********************************************************/
/* Content */
/*********************************************************/
.title {
    position: relative;
    text-align: center;
    margin-top: 100px;
    height: 50px;
    max-width: 100%;
}

#simulation {
    position: relative;
    margin-top: 0px;
    margin-left: 50px;
    height: 100px;
}

img {
    height: 100%;
    width: auto;
}

.text-container {
    text-align: justify;
    text-justify: inter-word;
    margin-top: 0px;
    height: 100px;
    max-width: 50%;
    margin: 0 auto;
}

#paper-link {
    color: blue;
}
