body {
    color: #656371;
    background-color: white;
    font-family: Helvetica;
    margin: 0;
    top: 0;
}

/* Navigation Bar */
.topnav {
    display: flex;
    justify-content: space-between;
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: #3b6dd1;
}

#name {
    padding: 0px 20px;
}

#name h1 {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

#links ul {
    list-style-type: none;
    overflow: hidden;
}

#links li {
    float: right;
    border-right: 1px solid white;
}

#links li:first-child {
    border-right: none;
}

#links li a {
    text-align: center;
    display: inline-block;
    padding: 0px 20px;
    color: white;
    font-family: sans-serif;
    font-size: 1.5em;
    text-decoration: none;
}

#links a:hover {
    background-color: white;
    color: #3b6dd1;
}

/* About Section */
.about {
    width: 100%;
    height: 500px;
    background-image: url("images/about_background.jpeg");
    background-size: cover;
    margin: 0px;
}

#about-text {
    margin-left: 400px;
    margin-right: 400px;
}

#about-text h1 {
    text-align: center;
    padding-top: 75px;
    color: black;
    text-decoration: underline;
}

#about-text p {
    text-align: center;
    color: black;
}

/* Places Lived */

/* Buffalo Section */
.buffalo {
    display: flex;
    justify-content: space-between;
}

.buffalo-text {
    display: inline-block;
    background-color: #c2e3ff;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    height: 300px;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

.buffalo-text h1, p {
    float: left;
    width: 100%;
}

.falls {
    margin-top: 20px;
    height: auto;
    width: 50em;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    padding: 0px;
}

/* Berkeley Section */
.berkeley {
    display: flex;
    justify-content: space-between;
}

.berkeley-text {
    display: inline-block;
    background-color: #c2e3ff;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 20px;
    height: 300px;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

.berkeley-text h1, p {
    float: right;
    width: 100%;
}

.campanile {
    margin-top: 20px;
    height: auto;
    width: 50em;
}

/* Ithaca Section */
.ithaca {
    display: flex;
    justify-content: space-between;
}

.ithaca-text {
    display: inline-block;
    background-color: #c2e3ff;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 20px;
    height: 300px;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

.ithaca-text h1, p {
    float: right;
    width: 100%;
}

.fall-creek {
    margin-top: 20px;
    height: auto;
    width: 50em;
}
